/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #da9636;
  --site-primary-hue-saturation: 35 69%;
  --ifm-color-primary-dark: #29784c;
  --ifm-color-primary-darker: #277148;
  --ifm-color-primary-darkest: #205d3b;
  --ifm-color-primary-light: #33925d;
  --ifm-color-primary-lighter: #359962;
  --ifm-color-primary-lightest: #3cad6e;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

h2 {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 20px
}

.video-container {
  position: center;
  overflow: hidden;
  width: 100%;
  max-width: 560px;
  margin: 0 auto;
  padding-bottom: 70px;
}

.yt-lite > .lty-playbtn {
  cursor: pointer;
  border: 0;
}
.screen-reader-only {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: polygon(0 0, 0 0, 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.header-hylo-link:hover {
  opacity: 0.6;
}

.header-hylo-link::before {
  content: '';
  width: 24px;
  height: 24px;
  display: flex;
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 250 282' fill-rule='evenodd' clip-rule='evenodd' fill=%22%230dc39f%22 xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M137.778 257.927C137.778 250.33 131.609 244.171 124 244.171C116.39 244.171 110.222 250.33 110.222 257.927C110.222 265.524 116.39 271.683 124 271.683C131.609 271.683 137.778 265.524 137.778 257.927ZM117.828 234.649C118.16 234.562 118.495 234.481 118.833 234.408V205.537L101.019 205.726L117.828 234.649ZM129.166 234.408V205.427L147.83 205.229L130.788 234.821C130.255 234.665 129.714 234.527 129.166 234.408ZM139.849 239.785L159.823 205.101L200.343 204.671C200.555 205.63 200.824 206.568 201.147 207.481L141.81 241.699C141.193 241.025 140.538 240.386 139.849 239.785ZM146.983 250.63C147.716 252.931 148.111 255.383 148.111 257.927C148.111 271.222 137.316 282 124 282C110.684 282 99.8886 271.222 99.8886 257.927C99.8886 255.383 100.284 252.931 101.016 250.629L41.3957 216.247C37.0151 220.744 30.8898 223.537 24.1112 223.537C10.7949 223.537 0 212.759 0 199.463C0 187.939 8.11109 178.306 18.9446 175.944V106.056C8.11109 103.694 0 94.0612 0 82.5366C0 69.2413 10.7949 58.4634 24.1112 58.4634C31.9809 58.4634 38.9701 62.2278 43.3708 68.0515L102.109 34.1783C100.684 31.1056 99.8886 27.6821 99.8886 24.0732C99.8886 10.778 110.684 9.03448e-07 124 9.03448e-07C137.316 9.03448e-07 148.111 10.778 148.111 24.0732C148.111 27.6819 147.316 31.1052 145.89 34.1778L204.629 68.0512C209.03 62.2277 216.019 58.4634 223.889 58.4634C237.205 58.4634 248 69.2413 248 82.5366C248 94.061 239.889 103.694 229.056 106.056V175.944C239.889 178.306 248 187.939 248 199.463C248 212.759 237.205 223.537 223.889 223.537C217.11 223.537 210.985 220.744 206.605 216.248L146.983 250.63ZM106.19 241.699L46.853 207.48C46.9909 207.09 47.119 206.696 47.237 206.297L89.1455 205.852L108.63 239.378C107.763 240.094 106.948 240.87 106.19 241.699ZM200.311 77.4755L139.575 42.4502C139.518 42.4984 139.461 42.5464 139.403 42.5941L161.069 79.0973H200.022C200.1 78.5505 200.197 78.0097 200.311 77.4755ZM149.057 79.0973L130.209 47.3406C129.864 47.432 129.517 47.516 129.166 47.5924V79.0973H149.057ZM118.833 79.0973V47.5924C118.497 47.5192 118.163 47.4389 117.833 47.3518L99.445 79.0973H118.833ZM87.5081 79.0973L108.634 42.6252C108.564 42.5674 108.494 42.5092 108.425 42.4507L47.6886 77.4758C47.8031 78.01 47.8998 78.5507 47.9781 79.0973H87.5081ZM218.57 175.978C218.621 175.966 218.672 175.955 218.723 175.944V106.056C218.175 105.937 217.635 105.799 217.102 105.643L197.267 140.085L218.57 175.978ZM209.177 180.389C207.761 181.48 206.469 182.724 205.328 184.097L180.357 169.447L191.352 150.356L209.177 180.389ZM200.322 194.354C200.4 193.992 200.487 193.634 200.581 193.279L175.206 178.391L165.802 194.72L200.322 194.354ZM207.411 100.111C207.618 100.304 207.828 100.494 208.041 100.68L191.217 129.892L182.242 114.77L207.411 100.111ZM200.776 89.4144C200.997 90.154 201.252 90.8788 201.54 91.5867L176.974 105.894L167.192 89.4144H200.776ZM29.2779 106.056C29.828 105.936 30.371 105.797 30.9063 105.641L51.5543 141.169L31.1323 176.427C30.524 176.242 29.9055 176.081 29.2779 175.944V106.056ZM39.9664 100.673C40.3349 100.352 40.6935 100.019 41.0417 99.6765L66.8258 114.804L57.5178 130.874L39.9664 100.673ZM47.2239 89.4144C47.062 89.9577 46.8813 90.4931 46.6827 91.0196L71.999 105.873L81.5321 89.4144H47.2239ZM57.5327 151.456L40.1417 181.481C41.0529 182.291 41.9021 183.17 42.6813 184.108L67.9543 169.389L57.5327 151.456ZM47.9706 195.972C47.838 195.061 47.6543 194.166 47.4224 193.291L73.1404 178.312L83.186 195.598L47.9706 195.972ZM95.0596 195.472L82.0662 173.114L118.833 151.7V195.219L95.0596 195.472ZM129.166 195.109V151.38L166.297 173.164L153.809 194.848L129.166 195.109ZM171.448 164.22L134.529 142.559L173.316 119.969L185.302 140.163L171.448 164.22ZM118.833 133.35L80.9083 111.1L93.4691 89.4144H118.833V133.35ZM129.166 89.4144V133.738L168.048 111.093L155.181 89.4144H129.166ZM76.8801 164.19L63.4962 141.161L75.735 120.031L114.077 142.526L76.8801 164.19ZM24.1112 185.707C31.7204 185.707 37.889 191.866 37.889 199.463C37.889 207.061 31.7204 213.22 24.1112 213.22C16.5019 213.22 10.3334 207.061 10.3334 199.463C10.3334 191.866 16.5019 185.707 24.1112 185.707ZM37.889 82.5366C37.889 74.9393 31.7204 68.7805 24.1112 68.7805C16.5019 68.7805 10.3334 74.9393 10.3334 82.5366C10.3334 90.1339 16.5019 96.2927 24.1112 96.2927C31.7204 96.2927 37.889 90.1339 37.889 82.5366ZM223.889 68.7805C231.498 68.7805 237.667 74.9393 237.667 82.5366C237.667 90.1339 231.498 96.2927 223.889 96.2927C216.28 96.2927 210.111 90.1339 210.111 82.5366C210.111 74.9393 216.28 68.7805 223.889 68.7805ZM237.667 199.463C237.667 191.866 231.498 185.707 223.889 185.707C216.28 185.707 210.111 191.866 210.111 199.463C210.111 207.061 216.28 213.22 223.889 213.22C231.498 213.22 237.667 207.061 237.667 199.463ZM124 10.3171C131.609 10.3171 137.778 16.4759 137.778 24.0732C137.778 31.6705 131.609 37.8293 124 37.8293C116.39 37.8293 110.222 31.6705 110.222 24.0732C110.222 16.4759 116.39 10.3171 124 10.3171Z'/%3E%3C/svg%3E")
    no-repeat;
}

div[class^='announcementBar_'] {
  --site-announcement-bar-stripe-color1: hsl(
    var(--site-primary-hue-saturation) 90%
  );
  --site-announcement-bar-stripe-color2: hsl(
    var(--site-primary-hue-saturation) 95%
  );
  background: repeating-linear-gradient(
    45deg,
    var(--site-announcement-bar-stripe-color1),
    var(--site-announcement-bar-stripe-color1) 20px,
    var(--site-announcement-bar-stripe-color2) 40px,
    var(--site-announcement-bar-stripe-color2) 50px
  );
  font-weight: bold;
}
